# Paths starting with . (and ..) are treated as relative, otherwise absolute

DATA_PATH="./data" # Folder for storing app data (required)
TEMPLATE_CACHE_PATH="./cache" # Folder for storing compiled twig templates (optional, remove if undesired)